<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="team.four.mys">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/application_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyS">
        <activity
            android:name="team.four.mys.presentation.activity.CountryCodeActivity"
            android:exported="false" />
        <activity
            android:name="team.four.mys.presentation.activity.DarkModeActivity"
            android:exported="false" />
        <activity
            android:name="team.four.mys.presentation.activity.SubscriptionInfoActivity"
            android:exported="false" />
        <activity
            android:name="team.four.mys.presentation.activity.MainActivity"
            android:exported="false" />
        <activity
            android:name="team.four.mys.presentation.activity.AlertActivity"
            android:exported="false" />
        <activity
            android:name="team.four.mys.presentation.activity.LanguageActivity"
            android:exported="false" />
        <activity
            android:name="team.four.mys.presentation.activity.CodeSendActivity"
            android:exported="false" />
        <activity
            android:name="team.four.mys.presentation.activity.FirstActivity"
            android:exported="false" />
        <activity
            android:name="team.four.mys.presentation.activity.LoginActivity"
            android:exported="false" />
        <activity
            android:name="team.four.mys.presentation.activity.CreateSubscriptionActivity"
            android:exported="false" />
        <activity
            android:name="team.four.mys.presentation.activity.SplashScreenActivity"
            android:exported="true"
            android:theme="@style/SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>